In [18]:
#!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.5-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.5

In [14]:
import pandas as pd
from sqlalchemy import create_engine, func
from config import pw
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
cocoabeans_csv = "Resources/production_of_cocoa_beans_world.csv"
cocoabeans_df = pd.read_csv(cocoabeans_csv, encoding ="utf-8")
cocoabeans_df.head()

,DomainCode,Domains,AreaCode,Area,ElementCode,Elements,ItemCode,Item,Unit,ValueTotal,Flags,FlagDescription
0,QC,Crops,5,American Samoa,5510,Production,661,"Cocoa, beans",tonnes,1,A,"Aggregate, may include official, semi-official..."
1,QC,Crops,7,Angola,5510,Production,661,"Cocoa, beans",tonnes,290,A,"Aggregate, may include official, semi-official..."
2,QC,Crops,23,Belize,5510,Production,661,"Cocoa, beans",tonnes,57,A,"Aggregate, may include official, semi-official..."
3,QC,Crops,53,Benin,5510,Production,661,"Cocoa, beans",tonnes,108,A,"Aggregate, may include official, semi-official..."
4,QC,Crops,19,Bolivia (Plurinational State of),5510,Production,661,"Cocoa, beans",tonnes,4741,A,"Aggregate, may include official, semi-official..."

In [3]:
# Clean DataFrame
country_cocoabeans_df = cocoabeans_df[['Area', 'Item', 'Unit', 'ValueTotal']].copy()
country_cocoabeans_df.head()

                               Area          Item    Unit  ValueTotal
0                    American Samoa  Cocoa, beans  tonnes           1
1                            Angola  Cocoa, beans  tonnes         290
2                            Belize  Cocoa, beans  tonnes          57
3                             Benin  Cocoa, beans  tonnes         108
4  Bolivia (Plurinational State of)  Cocoa, beans  tonnes        4741

In [19]:
# Connect to Local Database

connection_string = "postgres:@localhost:5432/chocolate_db"
engine = create_engine(f'postgresql://{connection_string}')

In [20]:
username = 'postgres'
password = pw
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/chocolate_db')
connection = engine.connect()

In [21]:
engine.table_names()

[]

In [ ]:
# Clean up Data