In [1]:
#!pip3 install lxml

In [107]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import lxml.html as lh
from bs4 import BeautifulSoup
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import pw

In [3]:
# cacao_csv = "Resources/flavors_of_cacao.csv"
# cacao_df = pd.read_csv(cacao_csv, encoding="utf-8")
# cacao_df.head()

In [4]:
chocolate_csv = "Resources/chocolate_2020.csv"
chocolate_df = pd.read_csv(chocolate_csv, encoding ="utf-8")
chocolate_df.head()

,Unnamed: 0,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,0,2454,5150,U.S.A,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,blackberry,full body,NaN
1,1,2458,5150,U.S.A,2019,Dominican republic,"Zorzal, batch 1",76.0,3.50,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,vegetal,savory,NaN
2,2,2454,5150,U.S.A,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.25,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,rich cocoa,fatty,bready,NaN
3,3,797,A. Morin,France,2012,Peru,Peru,63.0,3.75,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,fruity,melon,roasty,NaN
4,4,797,A. Morin,France,2012,Bolivia,Bolivia,70.0,3.50,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,vegetal,nutty,NaN,NaN

In [100]:
new_choc = chocolate_df.drop(['Unnamed: 0','ref', 'review_date', 'specific_bean_origin_or_bar_name', 'rating', 'counts_of_ingredients', 'first_taste', 'second_taste', 'third_taste', 'fourth_taste','lecithin', 'sweetener_without_sugar',], axis=1)

new_choc.head()

,company,company_location,country_of_bean_origin,cocoa_percent,beans,cocoa_butter,vanilla,salt,sugar
0,5150,U.S.A,Madagascar,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1,5150,U.S.A,Dominican republic,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2,5150,U.S.A,Tanzania,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
3,A. Morin,France,Peru,63.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
4,A. Morin,France,Bolivia,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar

In [104]:
final_choc = new_choc.loc[new_choc["company_location"]=="U.S.A"]
final_choc

,company,company_location,country_of_bean_origin,cocoa_percent,beans,cocoa_butter,vanilla,salt,sugar
0,5150,U.S.A,Madagascar,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1,5150,U.S.A,Dominican republic,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2,5150,U.S.A,Tanzania,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
28,Acalli,U.S.A,Peru,70.0,have_bean,have_not_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
29,Acalli,U.S.A,Peru,70.0,have_bean,have_not_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
...,...,...,...,...,...,...,...,...,...
2183,Zak's,U.S.A,Dominican republic,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2184,Zak's,U.S.A,Madagascar,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2185,Zak's,U.S.A,Peru,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2186,Zak's,U.S.A,Papua new guinea,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2187,Zak's,U.S.A,Blend,60.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar

In [49]:
us_csv = "Resources/usa_chocolate.csv"
us_chocolate = pd.read_csv(us_csv, encoding = "utf-8")
us_chocolate.head()

         COMPANY NAME           CITY       STATE     OWNER/MAKER
0  5150 Chocolate Co.   Delray Beach     Florida  Tyler Levitetz
1      9th and Larkin  San Francisco  California        Lan Phan
2              Acalli         Gretna   Louisiana     Carol Morse
3     Adams Chocolate          Nyack    New York    Adam Berrios
4            Affinity     Sugar Land       Texas  Chris Campbell

In [105]:
us_choc = us_chocolate.drop(['CITY','OWNER/MAKER'], axis = 1)
us_choc.head()

         COMPANY NAME       STATE
0  5150 Chocolate Co.     Florida
1      9th and Larkin  California
2              Acalli   Louisiana
3     Adams Chocolate    New York
4            Affinity       Texas

In [109]:
username = 'postgres'
password = pw
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/chocolate_db')
connection = engine.connect()

[]

In [39]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [42]:
[len(T) for T in tr_elements[:12]]

[1, 9, 9, 9, 9, 1, 2, 1, 1, 4, 4]

In [46]:
col=[]
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"

                "

In [54]:
[len(C) for (title,C) in col]

[2]

In [68]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=9:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][3].append(data)
        #Increment i for the next column
        i+=1

IndexError: tuple index out of range

In [111]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
tables = pd.read_html(url)
print(tables)

[     0                      1             2                       3   \
0   NaN                    NaN           NaN                     NaN
1  Home              Databases  Review Guide  Experiencing Chocolate
2   NaN  Chocolate Bar Ratings           NaN                     NaN
3   NaN       USA Craft Makers           NaN                     NaN
4   NaN    Canada Craft Makers           NaN                     NaN

         4       5                             6        7   \
0       NaN     NaN                           NaN      NaN
1  Labeling  Flavor                      Projects  Contact
2       NaN     NaN                    Interviews      NaN
3       NaN     NaN  Craft of Bean to Bar Project      NaN
4       NaN     NaN               Packaging Study      NaN

                            8   9   10
0                          NaN NaN NaN
1  Manhattan Chocolate Society NaN NaN
2                          NaN NaN NaN
3                          NaN NaN NaN
4                          NaN NaN NaN  ,     0                                                  1
0 NaN  USA Craft Chocolate Makers  Updated: March 202...,      No.
0  {No.},      COMPANY NAME    CITY    STATE    OWNER/MAKER
0  {COMPANY_NAME}  {CITY}  {STATE}  {OWNER/MAKER}]

In [150]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
# response = requests.get(url).text
soup = BeautifulSoup(content, "lxml")
comp_name = []
city = []
state = []
owner = []

for table in soup.find_all(attrs={"class": "TableName"}):
    response = requests.get(url).text
    for tr in soup.find_all("td"):
        comp_name.append(response["COMPANY NAME"])
        city.append(response[1])
        state.append(response[2])
        owner.append(response[3])
    #print(xyz)
        
#choc_list = choc_table.find_all("td")
# headings = []
# for i in choc_table.find_all("td"):
#     headings.append(['COMPANY_NAME'],['CITY'],['STATE'],['OWNER/MAKER'])
#choc_table
print(comp_name)

TypeError: string indices must be integers

In [146]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
response = requests.get(url).text
soup = BeautifulSoup(content, "lxml")
choc_table = soup.find_all(attrs={"class": "TableName"})
comp_name = []
city = []
state = []
owner = []
for table in choc_table:
    xyz = soup.find_all("td")
    comp_name.append(response[5])
    city.append(response[1])
    state.append(response[2])
    owner.append(response[3])
#     comp_name.append(response["COMPANY_NAME"])
#     city.append(response["CITY"])
#     state.append(response["STATE"])
#     owner.append(response["OWNER/MAKER"])
    #print(xyz)
#choc_list = choc_table.find_all("td")
# headings = []
# for i in choc_table.find_all("td"):
#     headings.append(['COMPANY_NAME'],['CITY'],['STATE'],['OWNER/MAKER'])
#choc_table
print(comp_name)

['T', 'T', 'T', 'T']

In [71]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
content = requests.get(url).text

soup = BeautifulSoup(content, "lxml")
print(soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <!-- InstanceBegin template="/Templates/Logo Button Template Final.dwt" codeOutsideHTMLIsLocked="false" -->
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>
   Flavors of Cacao - USA Craft Makers
  </title>
  <!-- InstanceEndEditable -->
  <style type="text/css">
   body {
	background-color: #FFF;
}
  </style>
  <link href="header.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
   a:link {
	color: #300;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #300;
}
a:hover {
	text-decoration: none;
	color: #285c93
}
a:active {
	text-decoration: none;
	color: #300;
}
.styleone:link {
	font-weight: normal;
	color: #300;
	text-decoration: none;
	font-size: 14px;
}
.styleone:visited {
	font-weight: normal;
	color:#300;
	text-decoration:none;
	font-size:14px;
}
.styleone:hover {
	font-weight:normal;
	color:#285c93;
	text-decoration:none;
	font-size:14px;
}
.styleone:active {
	font-weight:normal;
	color:#285c93;
	text-decoration:none;
	font-size:14px;
}
  </style>
  <style>
   .content {padding: 0 6px;}
  </style>
  <script type="text/javascript">
   function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
  </script>
  <link href="links.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
   body,td,th {
	color: #300;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.red {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	color: #C00;
}
  </style>
  <style type="text/css">
   <!--
.excel1 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:10.0pt;
font-weight:400;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:general;
vertical-align:bottom;
border:none;
white-space:nowrap;
}
.excel2 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:9.0pt;
font-weight:700;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:center;
vertical-align:bottom;
border:none;
white-space:nowrap;
}
.excel3 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:9.0pt;
font-weight:700;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:center;
vertical-align:bottom;
border:none;
white-space:normal;
}
.excel4 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:10.0pt;
font-weight:400;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:center;
vertical-align:bottom;
border:none;
white-space:nowrap;
}
-->
  </style>
  <link href="Bold18px.css" rel="stylesheet" type="text/css"/>
  <!-- InstanceBeginEditable name="head" -->
  <script src="SpryAssets/SpryData.js" type="text/javascript">
  </script>
  <script src="SpryAssets/SpryHTMLDataSet.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var ds1 = new Spry.Data.HTMLDataSet("usa_makers.html", "usa_makers");
ds1.setColumnType("NO.", "number");
var ds2 = new Spry.Data.HTMLDataSet("usa_makers_no.column.html", "usa_craft_makers");
var ds4 = new Spry.Data.HTMLDataSet("usa_makers_no_column.html", "no_column");
var ds3 = new Spry.Data.HTMLDataSet("usa_makers1.html", "usa_craft_makers_list");
  </script>
  <link href="craft_makers.css" rel="stylesheet" type="text/css"/>
  <link href="TableName.css" rel="stylesheet" type="text/css"/>
  <!-- InstanceEndEditable -->
  <link href="navbar.css" rel="stylesheet" type="text/css"/>
  <!-- InstanceParam name="Home Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Database Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Review Guide Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Experiencing Chocolate Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Labeling Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Flavor Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Interviews Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Contact Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Craft Makers Link" type="text" value="MenuBarItemSubmenu" -->
  <!-- InstanceParam name="craft of bean to bar project" type="text" value="" -->
  <!-- InstanceParam name="USA links" type="text" value="navbar" -->
  <!-- InstanceParam name="Canada link" type="text" value="styleone" -->
  <!-- InstanceParam name="craft maker link" type="text" value="" -->
  <!-- InstanceParam name="Craft of Bean to Bar Project Link" type="text" value="styleone" -->
  <!-- InstanceParam name="Craft of Bean to Bar Project Links" type="text" value="styleone" -->
  <!-- InstanceParam name="MCS Links" type="text" value="" -->
  <!-- InstanceParam name="packaging_links" type="text" value="" -->
 </head>
 <body onload="MM_preloadImages('images/chocolate_database_2.jpg','images/review_guide_2.jpg','images/experiencing_chocolate_2.jpg','images/labeling_chocolate_2.jpg','images/contact_3.jpg')">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="981">
   <tr>
    <td colspan="11">
     <div align="center">
      <a href="index.html">
       <img height="208" src="images/Flavors-of-Cacao-Logo-Brown.png" width="313"/>
      </a>
      <br/>
      <br/>
     </div>
     <div align="center">
     </div>
     <div align="center">
     </div>
    </td>
   </tr>
   <tr align="center">
    <td class="content" width="66">
     <div align="center">
      <a class="header1" href="index.html">
       Home
      </a>
     </div>
    </td>
    <td class="content" width="149">
     <div align="center" class="header1">
      Databases
     </div>
    </td>
    <td class="content" width="108">
     <div align="center">
      <a class="header1" href="review_guide.html">
       Review Guide
      </a>
     </div>
    </td>
    <td class="content" width="130">
     <div align="center">
      <a class="header1" href="experiencing_chocolate.html">
       Experiencing Chocolate
      </a>
     </div>
    </td>
    <td class="content" width="72">
     <a class="header1" href="labeling_chocolate.html">
      Labeling
     </a>
    </td>
    <td class="content" width="73">
     <div align="center">
      <a class="header1" href="flavor.html">
       Flavor
      </a>
     </div>
    </td>
    <td class="header1" width="189">
     Projects
    </td>
    <td class="content" width="62">
     <a class="header1" href="contact.html">
      Contact
     </a>
    </td>
    <td width="132">
     <a class="header1" href="mcs_index.html">
      Manhattan Chocolate Society
     </a>
    </td>
   </tr>
   <tr align="center">
    <td class="content">
    </td>
    <td class="content">
     <a class="header1" href="chocolate_database.html">
      Chocolate Bar Ratings
     </a>
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
    <td class="content">
     <a class="header1" href="usa_craft_makers.html">
      <br/>
     </a>
    </td>
    <td class="content">
     <a class="header1" href="interview_home.html">
      Interviews
     </a>
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
   </tr>
   <tr align="center">
    <td class="content">
    </td>
    <td class="content">
     <a class="header1" href="usa_craft_makers.html">
      USA Craft Makers
     </a>
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
    <td class="content">
     <a class="header1" href="craft_of_b2b_home.html">
      Craft of Bean to Bar Project
     </a>
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
   </tr>
   <tr align="center">
    <td class="content">
    </td>
    <td class="content">
     <a class="header1" href="canadian_craft_makers.html">
      Canada Craft Makers
     </a>
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
    <td class="content">
     <a class="styleone" href="canadian_craft_makers.html">
      <br/>
     </a>
    </td>
    <td class="content">
     <a class="header1" href="packaging_index.html">
      <br/>
      Packaging Study
     </a>
    </td>
    <td class="content">
    </td>
    <td class="content">
    </td>
   </tr>
  </table>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="950">
   <tr>
    <td align="center">
    </td>
   </tr>
  </table>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="950">
   <tr>
    <td>
     <!-- InstanceBeginEditable name="EditRegion3" -->
     <br/>
    </td>
    <td align="center" valign="top">
     <p>
      <br/>
      <img alt="USA Craft Chocolate Makers" border="1" height="100" src="images/USA_banner.png" width="900"/>
      <span class="title1">
       <br/>
      </span>
     </p>
     <p>
      <span class="title1">
       USA Craft Chocolate Makers
       <br/>
       Updated: March 2020
      </span>
      <br/>
      <br/>
      <img height="438" src="images/The-Map-of-United-States-Bean-to-Bar-20200314.png" width="792"/>
      <br/>
      <br/>
      <strong class="paragraph_3">
       This is a
      </strong>
      <span class="paragraph_3">
       <strong>
        SORTABLE DATABASE
       </strong>
      </span>
      <strong class="paragraph_3">
       . Click any column header to re-sort the entries and organize by each  column.
      </strong>
     </p>
     <div class="container">
      <div class="nocolumn">
       <div spry:region="ds4">
        <table align="right" border="1" cellpadding="0" cellspacing="0">
         <tr>
          <th align="left" height="20" spry:unsort="No." width="40">
           <strong class="TableName">
            No.
           </strong>
          </th>
         </tr>
         <tr spry:repeat="ds4">
          <td class="TableName" height="20">
           {No.}
          </td>
         </tr>
        </table>
       </div>
      </div>
      <div class="craft_makers">
       <div spry:region="ds3">
        <table align="left" border="1" cellpadding="0" cellspacing="0" table="" width="960">
         <tr class="TableName">
          <th align="left" height="20" spry:sort="COMPANY_NAME" width="290">
           <strong>
            COMPANY NAME
           </strong>
          </th>
          <th align="left" spry:sort="CITY" width="145">
           CITY
          </th>
          <th align="left" spry:sort="STATE" width="139">
           STATE
          </th>
          <th align="left" spry:sort="OWNER/MAKER" width="341">
           OWNER/MAKER
          </th>
         </tr>
         <tr class="TableName" spry:repeat="ds3">
          <td height="20">
           {COMPANY_NAME}
          </td>
          <td>
           {CITY}
          </td>
          <td>
           {STATE}
          </td>
          <td>
           {OWNER/MAKER}
          </td>
         </tr>
        </table>
       </div>
      </div>
     </div>
     <p>
      <br/>
     </p>
     <!-- InstanceEndEditable -->
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
    </td>
   </tr>
  </table>
  <p>
   <br/>
  </p>
 </body>
 <!-- InstanceEnd -->
</html>

In [90]:
gdp_table = soup.find_all("div", attrs={"spry:region": "ds3"})
gdp_table_data = gdp_table.find_all("tr")  # contains 2 rows

# Get all the headings of Lists
headings = []
for td in gdp_table_data[0].find_all("td"):
    # remove any newlines and extra spaces from left and right
    headings.append(td.b.text.replace('\n', ' ').strip())

print(headings)

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [7]:
type(tables)

list

In [55]:
r = requests.get('http://flavorsofcacao.com/usa_craft_makers.html')
pd.read_html(r.text)[3]

     COMPANY NAME    CITY    STATE    OWNER/MAKER
0  {COMPANY_NAME}  {CITY}  {STATE}  {OWNER/MAKER}

In [129]:
#tables = pd.read_html("http://flavorsofcacao.com/usa_craft_makers.html", header = 0, keep_default_na=False
# headings = ['COMPANY NAME', 'CITY', 'STATE', 'OWNER/MAKER']
url = "http://flavorsofcacao.com/usa_craft_makers.html"
content = requests.get(url).text
soup = BeautifulSoup(content, "lxml")

for table in content:
    soup.find_all(attrs={"class": "TableName"})
    for name in TabelName:
          soup.find_all("td")
    else: 
        break 


# table['Country name'].replace({r'.*!(.*)': r'\1'}, regex=True, inplace=True)
# table[headings].to_csv('test.txt', sep=';', header=False, index=False)

NameError: name 'TabelName' is not defined

In [25]:
df= tables[3]
df.columns = ['COMPANY NAME', 'CITY', 'STATE', 'OWNER/MAKER']
df

     COMPANY NAME    CITY    STATE    OWNER/MAKER
0  {COMPANY_NAME}  {CITY}  {STATE}  {OWNER/MAKER}

In [92]:
c = requests.get('http://flavorsofcacao.com/usa_craft_makers.html')
soup = BeautifulSoup(c.content, "lxml")
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
print(df[0].to_json(orient='records'))

[{"0":null,"1":null,"2":null,"3":null,"4":null,"5":null,"6":null,"7":null,"8":null,"9":null,"10":null},{"0":"Home","1":"Databases","2":"Review Guide","3":"Experiencing Chocolate","4":"Labeling","5":"Flavor","6":"Projects","7":"Contact","8":"Manhattan Chocolate Society","9":null,"10":null},{"0":null,"1":"Chocolate Bar Ratings","2":null,"3":null,"4":null,"5":null,"6":"Interviews","7":null,"8":null,"9":null,"10":null},{"0":null,"1":"USA Craft Makers","2":null,"3":null,"4":null,"5":null,"6":"Craft of Bean to Bar Project","7":null,"8":null,"9":null,"10":null},{"0":null,"1":"Canada Craft Makers","2":null,"3":null,"4":null,"5":null,"6":"Packaging Study","7":null,"8":null,"9":null,"10":null}]