In [1]:
#!pip3 install lxml
#!pip install -U splinter

In [10]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import lxml.html as lh
from bs4 import BeautifulSoup
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import pw
import time
from splinter import Browser

In [17]:
executable_path = {'executable_path': 'chromedriver (2).exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
url = 'http://flavorsofcacao.com/usa_craft_makers.html'
browser.visit(url)
time.sleep(2)
html = browser.html
#print(html)
soup = BeautifulSoup(html, 'html.parser')
#bsoup = soup(html, 'html.parser')
time.sleep(4)
results = soup.find(id="spryregion2")
print(results)

<div class="" id="spryregion2">
<table align="left" border="1" cellpadding="0" cellspacing="0" table="" width="960">
<tbody><tr class="TableName">
<th align="left" height="20" width="290"><strong>COMPANY NAME</strong></th>
<th align="left" width="145">CITY</th>
<th align="left" width="139">STATE</th>
<th align="left" width="341">OWNER/MAKER</th>
</tr>
<tr class="TableName">
<td height="20">Match</td>
<td>Birmingham</td>
<td>Alabama</td>
<td>Kala Northrup</td>
</tr><tr class="TableName">
<td height="20">Wildland Chocolate</td>
<td>Anchorage</td>
<td>Alaska</td>
<td>Jimmy and Suzanne</td>
</tr><tr class="TableName">
<td height="20">Nutwhats</td>
<td>Chandler</td>
<td>Arizona</td>
<td>Lisa and Jim Rast</td>
</tr><tr class="TableName">
<td height="20">DNA</td>
<td>Chandler</td>
<td>Arizona</td>
<td>Denae Hostetler</td>
</tr><tr class="TableName">
<td height="20">Chocofin</td>
<td>Fountain Hills</td>
<td>Arizona</td>
<td>Lou Mirabella</td>
</tr><tr class="TableName">
<td height="20">Cafe Cultiva</td>
<td>Naco</td>
<td>Arizona</td>
<td>Jessica and Jesse</td>
</tr><tr class="TableName">
<td height="20">Chocol'ate</td>
<td>Old Bisbee</td>
<td>Arizona</td>
<td>Gordon Terpening</td>
</tr><tr class="TableName">
<td height="20">Brazen</td>
<td>Phoenix</td>
<td>Arizona</td>
<td>Case Coniglio</td>
</tr><tr class="TableName">
<td height="20">Stone Grindz</td>
<td>Scottsdale</td>
<td>Arizona</td>
<td>Kasey McCaslin</td>
</tr><tr class="TableName">
<td height="20">Zak's</td>
<td>Scottsdale</td>
<td>Arizona</td>
<td>Jim and Maureen Elitzak</td>
</tr><tr class="TableName">
<td height="20">Monsoon</td>
<td>Tucson</td>
<td>Arizona</td>
<td>Adam Krantz</td>
</tr><tr class="TableName">
<td height="20">Kyya aka Forgotten Chocolate</td>
<td>Elm Springs</td>
<td>Arkansas</td>
<td>Rick Boosey</td>
</tr><tr class="TableName">
<td height="20">Markham &amp; Fitz aka Hello Cocoa</td>
<td>Fayetteville</td>
<td>Arkansas</td>
<td>Lauren Blanco, Preston Stewart</td>
</tr><tr class="TableName">
<td height="20">Izard</td>
<td>Little Rock</td>
<td>Arkansas</td>
<td>Nathaniel Izard</td>
</tr><tr class="TableName">
<td height="20">Dick Taylor</td>
<td>Ascata</td>
<td>California</td>
<td>Adam Dick, Dustin Taylor</td>
</tr><tr class="TableName">
<td height="20">Bisou</td>
<td>Berkeley</td>
<td>California</td>
<td>Tracey Britton, Eli Curtis</td>
</tr><tr class="TableName">
<td height="20">Guittard</td>
<td>Burlingame</td>
<td>California</td>
<td>Gary Guittard</td>
</tr><tr class="TableName">
<td height="20">Snake &amp; Butterfly</td>
<td>Campbell</td>
<td>California</td>
<td>Celeste Walker, James Hull</td>
</tr><tr class="TableName">
<td height="20">PipeVine</td>
<td>Chico</td>
<td>California</td>
<td>Rusty Bogart</td>
</tr><tr class="TableName">
<td height="20">Armstrong Chocolate</td>
<td>Chico</td>
<td>California</td>
<td>Matt Armstrong </td>
</tr><tr class="TableName">
<td height="20">Michael Dunn</td>
<td>Concord</td>
<td>California</td>
<td>Michael Dunn</td>
</tr><tr class="TableName">
<td height="20">Chocovivo</td>
<td>Culver City</td>
<td>California</td>
<td>Patricia Tsai</td>
</tr><tr class="TableName">
<td height="20">Molucca</td>
<td>Fresno</td>
<td>California</td>
<td>Yohanes Makmur, Radinal Latuconsina</td>
</tr><tr class="TableName">
<td height="20">Raphio Chocolate</td>
<td>Fresno </td>
<td>California</td>
<td>Elisa and Yohanes Otavi-Makmur</td>
</tr><tr class="TableName">
<td height="20">Volo</td>
<td>Healdsburg</td>
<td>California</td>
<td>Jeff Mall</td>
</tr><tr class="TableName">
<td height="20">ChocXO</td>
<td>Irvine</td>
<td>California</td>
<td>Richard Foley</td>
</tr><tr class="TableName">
<td height="20">LetterPress</td>
<td>Los Angeles</td>
<td>California</td>
<td>David Menkes</td>
</tr><tr class="TableName">
<td height="20">Bar Au Chocolat</td>
<td>Manhattan Beach</td>
<td>California</td>
<td>Nicole Trutanich</td>
</tr><tr class="TableName">
<td height="20">Limited </td>
<td>Mountain View</td>
<td>California</td>
<td>Herbert Czymontek</td>
</tr><tr class="TableName">
<td height="20">Mayacama</td>
<td>Napa</td>
<td>California</td>
<td>Elena Sirignano</td>
</tr><tr class="TableName">
<td height="20">Cello</td>
<td>Nevada City</td>
<td>California</td>
<td>Ned and Debi Russell</td>
</tr><tr class="TableName">
<td height="20">Sacred</td>
<td>Novato</td>
<td>California</td>
<td>Steve Adler</td>
</tr><tr class="TableName">
<td height="20">Bittersweet Origins (closed)</td>
<td>Oakland</td>
<td>California</td>
<td>Seneca Klassen</td>
</tr><tr class="TableName">
<td height="20">Endorfin Foods</td>
<td>Oakland</td>
<td>California</td>
<td>Brian Wallace</td>
</tr><tr class="TableName">
<td height="20">Oakland Chocolate Co.</td>
<td>Oakland</td>
<td>California</td>
<td>Nancy Nadel</td>
</tr><tr class="TableName">
<td height="20">Parliament</td>
<td>Redlands</td>
<td>California</td>
<td>Ryan Berk</td>
</tr><tr class="TableName">
<td height="20">Marsatta</td>
<td>Redondo Beach</td>
<td>California</td>
<td>Jeffray Gardner</td>
</tr><tr class="TableName">
<td height="20">Confluence</td>
<td>Sacramento</td>
<td>California</td>
<td>Dave Huston</td>
</tr><tr class="TableName">
<td height="20">Cru</td>
<td>Sacramento</td>
<td>California</td>
<td>Karla McNeil-Rueda</td>
</tr><tr class="TableName">
<td height="20">Nibble</td>
<td>San Diego</td>
<td>California</td>
<td>David Mejia, Sandra Bedoya</td>
</tr><tr class="TableName">
<td height="20">Dandelion</td>
<td>San Francisco</td>
<td>California</td>
<td>Todd Masonis, Cameron Ring</td>
</tr><tr class="TableName">
<td height="20">L'Amourette</td>
<td>San Francisco</td>
<td>California</td>
<td>Andre V. Lamourette</td>
</tr><tr class="TableName">
<td height="20">Scharffen Berger Special Maker (closed)</td>
<td>San Francisco</td>
<td>California</td>
<td>Hershey</td>
</tr><tr class="TableName">
<td height="20">TCHO</td>
<td>San Francisco</td>
<td>California</td>
<td>Timothy Childs</td>
</tr><tr class="TableName">
<td height="20">Zac Squared</td>
<td>San Francisco</td>
<td>California</td>
<td>Randy Zack, Zak Policzer</td>
</tr><tr class="TableName">
<td height="20">9th and Larkin</td>
<td>San Francisco</td>
<td>California</td>
<td>Lan Phan</td>
</tr><tr class="TableName">
<td height="20">Marin Munchies</td>
<td>San Rafael</td>
<td>California</td>
<td>Katja Reitemeyer</td>
</tr><tr class="TableName">
<td height="20">twenty-four blackbirds</td>
<td>Santa Barbara</td>
<td>California</td>
<td>Mike Orlando</td>
</tr><tr class="TableName">
<td height="20">Mutari aka White Label Chocolate</td>
<td>Santa Cruz</td>
<td>California</td>
<td>Katy Oursler, Stephen Beaumier</td>
</tr><tr class="TableName">
<td height="20">Tiny House</td>
<td>Santa Cruz</td>
<td>California</td>
<td> </td>
</tr><tr class="TableName">
<td height="20">Firefly</td>
<td>Sebastopol</td>
<td>California</td>
<td>Jonas Ketterle</td>
</tr><tr class="TableName">
<td height="20">Mancali Craft Chocolate</td>
<td>Tustin </td>
<td>California</td>
<td> </td>
</tr><tr class="TableName">
<td height="20">ZenBunni</td>
<td>Venice</td>
<td>California</td>
<td>Zen and Bunni</td>
</tr><tr class="TableName">
<td height="20">Starchild </td>
<td>Willits</td>
<td>California</td>
<td>Ash and Brittany Maki</td>
</tr><tr class="TableName">
<td height="20">Fortuna</td>
<td>Boulder</td>
<td>Colorado</td>
<td>Aldo Ramirez Carrasco</td>
</tr><tr class="TableName">
<td height="20">Shanao Cacao</td>
<td>Boulder </td>
<td>Colorado</td>
<td>Michael Caines</td>
</tr><tr class="TableName">
<td height="20">Tchefuncte </td>
<td>Colorado Springs</td>
<td>Colorado</td>
<td>Tiffany and Richard Dull</td>
</tr><tr class="TableName">
<td height="20">Cultura Craft Chocolate</td>
<td>Denver</td>
<td>Colorado</td>
<td>Matt Armstrong, Damaris (Graves) Ronkanen</td>
</tr><tr class="TableName">
<td height="20">DAR </td>
<td>Denver</td>
<td>Colorado</td>
<td>Gila and Joel Dar</td>
</tr><tr class="TableName">
<td height="20">Dead Dog Chocolate aka Pomm</td>
<td>Denver</td>
<td>Colorado</td>
<td>Damaris Graves, Katelyn Fox</td>
</tr><tr class="TableName">
<td height="20">DeVries (closed)</td>
<td>Denver</td>
<td>Colorado</td>
<td>Steve DeVries</td>
</tr><tr class="TableName">
<td height="20">WKND</td>
<td>Denver</td>
<td>Colorado</td>
<td>Hannah Morris</td>
</tr><tr class="TableName">
<td height="20">Animas</td>
<td>Durango</td>
<td>Colorado</td>
<td>Carley Snider</td>
</tr><tr class="TableName">
<td height="20">Beehive </td>
<td>Fort Collins</td>
<td>Colorado</td>
<td>Ian Horvath</td>
</tr><tr class="TableName">
<td height="20">Nuance</td>
<td>Fort Collins</td>
<td>Colorado</td>
<td>Toby and Alix Gadd</td>
</tr><tr class="TableName">
<td height="20">Plains to Peaks</td>
<td>Longmont</td>
<td>Colorado</td>
<td>Jeff and Sunni Sylvester</td>
</tr><tr class="TableName">
<td height="20">Gus Chocolate</td>
<td>Ouray</td>
<td>Colorado</td>
<td>Nathan Montgomery</td>
</tr><tr class="TableName">
<td height="20">Simpson &amp; Vail</td>
<td>Brookfield</td>
<td>Connecticut</td>
<td>Jim and Joan Harron</td>
</tr><tr class="TableName">
<td height="20">Mystic River</td>
<td>Mystic</td>
<td>Connecticut</td>
<td>Bill and Casey Gash</td>
</tr><tr class="TableName">
<td height="20">Double Spiral</td>
<td>Ardentown</td>
<td>Delaware</td>
<td>Stuart and Mhairi Craig</td>
</tr><tr class="TableName">
<td height="20">5150 Chocolate Co.</td>
<td>Delray Beach</td>
<td>Florida</td>
<td>Tyler Levitetz</td>
</tr><tr class="TableName">
<td height="20">Cacao Gonzalez</td>
<td>Hunters Creek</td>
<td>Florida</td>
<td> </td>
</tr><tr class="TableName">
<td height="20">Cao Chocolates</td>
<td>Miami</td>
<td>Florida</td>
<td>Ricardo Cao Trillos</td>
</tr><tr class="TableName">
<td height="20">Exquisito</td>
<td>Miami</td>
<td>Florida</td>
<td>Carolina Quijano</td>
</tr><tr class="TableName">
<td height="20">Castronovo</td>
<td>Stuart</td>
<td>Florida</td>
<td>Denise Castronovo</td>
</tr><tr class="TableName">
<td height="20">Pinellas</td>
<td>Tampa Bay</td>
<td>Florida</td>
<td>Adam Vessa, Cody Vessa</td>
</tr><tr class="TableName">
<td height="20">Condor </td>
<td>Athens</td>
<td>Georgia</td>
<td>Peter and Nick Dale</td>
</tr><tr class="TableName">
<td height="20">Cacao Atlanta</td>
<td>Atlanta</td>
<td>Georgia</td>
<td>Kristen Hard</td>
</tr><tr class="TableName">
<td height="20">Park 75</td>
<td>Atlanta</td>
<td>Georgia</td>
<td>Robert Gerstenecker</td>
</tr><tr class="TableName">
<td height="20">Xocolatl</td>
<td>Atlanta</td>
<td>Georgia</td>
<td>Elaine Read, Matt Weyandt</td>
</tr><tr class="TableName">
<td height="20">Cosecha</td>
<td>Atlanta</td>
<td>Georgia</td>
<td>Katie Garstin</td>
</tr><tr class="TableName">
<td height="20">Mills Family Chocolate</td>
<td>Atlanta</td>
<td>Georgia</td>
<td> </td>
</tr><tr class="TableName">
<td height="20">Moloa'a Bay</td>
<td>Anahola (Kaua'I)</td>
<td>Hawai'I</td>
<td>Daphne McClure</td>
</tr><tr class="TableName">
<td height="20">Puna Chocolate Company</td>
<td>Hawai'i</td>
<td>Hawai'I</td>
<td>Adam Potter</td>
</tr><tr class="TableName">
<td height="20">Lonahana</td>
<td>Honolulu (Oahu)</td>
<td>Hawai'I</td>
<td>Seneca Klassen</td>
</tr><tr class="TableName">
<td height="20">Madre</td>
<td>Honolulu (Oahu)</td>
<td>Hawai'I</td>
<td>Nat Bletter</td>
</tr><tr class="TableName">
<td height="20">Manoa</td>
<td>Kailua (Oahu)</td>
<td>Hawai'I</td>
<td>Dylan Butterbaugh</td>
</tr><tr class="TableName">
<td height="20">Original Hawaiian Chocolate Factory</td>
<td>Kailua-Kona(Hawaii)</td>
<td>Hawai'I</td>
<td>Pam and Bob Cooper</td>
</tr><tr class="TableName">
<td height="20">Garden Island Chocolate aka Nanea</td>
<td>Kilauea (Kauai)</td>
<td>Hawai'I</td>
<td>Koa Kahili</td>
</tr><tr class="TableName">
<td height="20">Shark's</td>
<td>Papaikou (Hawaii)</td>
<td>Hawai'I</td>
<td>Thomas Sharkey</td>
</tr><tr class="TableName">
<td height="20">Chocolates by Josh (aka Box Chocolates)</td>
<td>Boise</td>
<td>Idaho</td>
<td>Joshua Parker</td>
</tr><tr class="TableName">
<td height="20">Sandpoint Chocolate Bear</td>
<td>Sandpoint</td>
<td>Idaho</td>
<td>Carrie and Dennis Powell</td>
</tr><tr class="TableName">
<td height="20">Noir d'Ebine</td>
<td>Evanston</td>
<td>Illinois</td>
<td>Journey Shannon</td>
</tr><tr class="TableName">
<td height="20">barcacaochocolat</td>
<td>Schiller Park</td>
<td>Illinois</td>
<td>Matthew Schreiner</td>
</tr><tr class="TableName">
<td height="20">Ethereal Confections</td>
<td>Woodstock</td>
<td>Illinois</td>
<td>Mary Ervin, Sara Ervin</td>
</tr><tr class="TableName">
<td height="20">Bowler Man</td>
<td>Michigan City</td>
<td>Indiana</td>
<td>Michael and Amanda Joyner</td>
</tr><tr class="TableName">
<td height="20">Davis</td>
<td>Mishawaka</td>
<td>Indiana</td>
<td>Brent Davis</td>
</tr><tr class="TableName">
<td height="20">Violet Sky</td>
<td>South Bend</td>
<td>Indiana</td>
<td>Hans and Alison Westerink</td>
</tr><tr class="TableName">
<td height="20">Hazel Hill </td>
<td>Topeka</td>
<td>Kansas</td>
<td>Nick and Terry Xidis</td>
</tr><tr class="TableName">
<td height="20">Cellar Door Chocolates</td>
<td>Louisville</td>
<td>Kentucky</td>
<td>Erika Chavez-Graziano</td>
</tr><tr class="TableName">
<td height="20">Whelpdale</td>
<td>Louisville</td>
<td>Kentucky</td>
<td>Gary Whelpdale</td>
</tr><tr class="TableName">
<td height="20">Acalli</td>
<td>Gretna</td>
<td>Louisiana</td>
<td>Carol Morse</td>
</tr><tr class="TableName">
<td height="20">Preservation </td>
<td>Lafayette</td>
<td>Louisiana</td>
<td>Carter Liles</td>
</tr><tr class="TableName">
<td height="20">Piety and Desire</td>
<td>New Orleans </td>
<td>Louisiana</td>
<td>Christopher Nobles</td>
</tr><tr class="TableName">
<td height="20">Bixby &amp; Co.</td>
<td>Rockland</td>
<td>Maine</td>
<td>Kate McAleer</td>
</tr><tr class="TableName">
<td height="20">Chocolibrium</td>
<td>Annapolis</td>
<td>Maryland</td>
<td>Snigda Kanchi</td>
</tr><tr class="TableName">
<td height="20">Charm School</td>
<td>Baltimore</td>
<td>Maryland</td>
<td>Joshua Rosen</td>
</tr><tr class="TableName">
<td height="20">Spagnvola</td>
<td>Gaithersburg</td>
<td>Maryland</td>
<td>Eric and Crisoire Reid</td>
</tr><tr class="TableName">
<td height="20">Sibu Sura</td>
<td>Myersville</td>
<td>Maryland</td>
<td>Julie McLean</td>
</tr><tr class="TableName">
<td height="20">Vivra</td>
<td>Boston</td>
<td>Massachusetts</td>
<td>Bob and Paige Leavitt</td>
</tr><tr class="TableName">
<td height="20">Chequessett</td>
<td>North Truro</td>
<td>Massachusetts</td>
<td>Katherine Reed, Josiah Mayo</td>
</tr><tr class="TableName">
<td height="20">Somerville</td>
<td>Somerville</td>
<td>Massachusetts</td>
<td>Eric Parkes</td>
</tr><tr class="TableName">
<td height="20">Taza</td>
<td>Somerville</td>
<td>Massachusetts</td>
<td>Alex Whitmore</td>
</tr><tr class="TableName">
<td height="20">BOHO</td>
<td>Springfield</td>
<td>Massachusetts</td>
<td>Charlie Burke</td>
</tr><tr class="TableName">
<td height="20">Goodnow Farms</td>
<td>Sudbury</td>
<td>Massachusetts</td>
<td>Tom and Monica Rogan</td>
</tr><tr class="TableName">
<td height="20">Rogue (closed)</td>
<td>Three Rivers</td>
<td>Massachusetts</td>
<td>Colin Gasko</td>
</tr><tr class="TableName">
<td height="20">Mindo</td>
<td>Dexter</td>
<td>Michigan</td>
<td>Barbara Wilson, Joe Meza</td>
</tr><tr class="TableName">
<td height="20">Perennial</td>
<td>Holland</td>
<td>Michigan</td>
<td>Andrew Essink, Jason Los</td>
</tr><tr class="TableName">
<td height="20">Fresh Coast/Just Good Chocolate (closed)</td>
<td>Leland</td>
<td>Michigan</td>
<td>Nichole Warner</td>
</tr><tr class="TableName">
<td height="20">Davin's</td>
<td>Marquette</td>
<td>Michigan</td>
<td>Davin Makela</td>
</tr><tr class="TableName">
<td height="20">Crow &amp; Moss</td>
<td>Petoskey</td>
<td>Michigan</td>
<td>Mike Davies</td>
</tr><tr class="TableName">
<td height="20">Peppalo</td>
<td>Tecumseh</td>
<td>Michigan</td>
<td>John and Erika Aylward</td>
</tr><tr class="TableName">
<td height="20">Terroir</td>
<td>Fergus Falls</td>
<td>Minnesota</td>
<td>Kristin and Josh Mohagen</td>
</tr><tr class="TableName">
<td height="20">Meadowlands</td>
<td>Meadowlands</td>
<td>Minnesota</td>
<td>Clyo Howard, Beryl Wells-Hamilton</td>
</tr><tr class="TableName">
<td height="20">K'ul</td>
<td>Minneapolis</td>
<td>Minnesota</td>
<td>Peter Kelsey, Christian Aldrich</td>
</tr><tr class="TableName">
<td height="20">Chocolate Compromiso</td>
<td>St. Paul</td>
<td>Minnesota</td>
<td>Carrie Anderson</td>
</tr><tr class="TableName">
<td height="20">Two Ravens</td>
<td>St. Paul</td>
<td>Minnesota</td>
<td>Randall Johnson</td>
</tr><tr class="TableName">
<td height="20">Patric</td>
<td>Columbia</td>
<td>Missouri</td>
<td>Alan Mclure</td>
</tr><tr class="TableName">
<td height="20">Christopher Elbow</td>
<td>Kansas City</td>
<td>Missouri</td>
<td>Christopher Elbow</td>
</tr><tr class="TableName">
<td height="20">Askinosie</td>
<td>Springfield</td>
<td>Missouri</td>
<td>Shawn Askinosie</td>
</tr><tr class="TableName">
<td height="20">Burnt Fork Bend</td>
<td>Stevensville</td>
<td>Montana</td>
<td>Jennifer Wicke</td>
</tr><tr class="TableName">
<td height="20">Sweet Minou</td>
<td>Lincoln</td>
<td>Nebraska</td>
<td>Rebecca Ankenbrand</td>
</tr><tr class="TableName">
<td height="20">hexx</td>
<td>Las Vegas</td>
<td>Nevada</td>
<td>Matthew Silverman</td>
</tr><tr class="TableName">
<td height="20">Source Chocolate</td>
<td>Bow</td>
<td>New Hampshire</td>
<td>Samantha Fox</td>
</tr><tr class="TableName">
<td height="20">Enna Chocolate</td>
<td>Exeter</td>
<td>New Hampshire</td>
<td>Enna Grazier</td>
</tr><tr class="TableName">
<td height="20">La Cascade du Chocolat</td>
<td>Exeter</td>
<td>New Hampshire</td>
<td>Samantha Brown, Thomas Nash</td>
</tr><tr class="TableName">
<td height="20">Loon Chocolate</td>
<td>Manchester</td>
<td>New Hampshire</td>
<td>Scott Watson</td>
</tr><tr class="TableName">
<td height="20">Vicuna</td>
<td>Peterborough</td>
<td>New Hampshire</td>
<td>Pierre Fabre, Cat Wilder</td>
</tr><tr class="TableName">
<td height="20">Portsmouth Cacao</td>
<td>Portsmouth</td>
<td>New Hampshire</td>
<td>Ben Hagerty, Mackenzie </td>
</tr><tr class="TableName">
<td height="20">MaDe Atlantic City Chocolate Bar</td>
<td>Atlantic City</td>
<td>New Jersey</td>
<td>Mark and Deborah Pellegrino</td>
</tr><tr class="TableName">
<td height="20">Anahata</td>
<td>Edison</td>
<td>New Jersey</td>
<td>Melanie Flores</td>
</tr><tr class="TableName">
<td height="20">Parre Chocolat</td>
<td>Fair Lawn</td>
<td>New Jersey</td>
<td>Pearl Wong</td>
</tr><tr class="TableName">
<td height="20">Glennmade (closed)</td>
<td>Hoboken</td>
<td>New Jersey</td>
<td>Glenn Petriello</td>
</tr><tr class="TableName">
<td height="20">Vesta </td>
<td>Montclair</td>
<td>New Jersey</td>
<td>Roger Rodriguez</td>
</tr><tr class="TableName">
<td height="20">La Chorena</td>
<td>Ridgefield</td>
<td>New Jersey</td>
<td>Marisol and Thomas Forbes</td>
</tr><tr class="TableName">
<td height="20">Bankston </td>
<td>Spring Lake Heights</td>
<td>New Jersey</td>
<td>Tom and Leah Barlow</td>
</tr><tr class="TableName">
<td height="20">Earth Dog Chocolate Foundry</td>
<td>Trenton</td>
<td>New Jersy</td>
<td>David Fiscarelli</td>
</tr><tr class="TableName">
<td height="20">Eldora Craft Chocolate</td>
<td>Albuquerque</td>
<td>New Mexico</td>
<td>Steve Prickett</td>
</tr><tr class="TableName">
<td height="20">Cacao Santa Fe</td>
<td>Santa Fe</td>
<td>New Mexico</td>
<td>Melanie Boudar, Mark Sciscenti, Derek Lanter</td>
</tr><tr class="TableName">
<td height="20">Chokola</td>
<td>Taos</td>
<td>New Mexico</td>
<td>Javier and Deborah Abad Etxaniz</td>
</tr><tr class="TableName">
<td height="20">Hi-Bar</td>
<td>Ithaca</td>
<td>New York</td>
<td>Mya Menter</td>
</tr><tr class="TableName">
<td height="20">Dark Forest</td>
<td>Lancaster</td>
<td>New York</td>
<td>Joanne and Dan Sundell</td>
</tr><tr class="TableName">
<td height="20">Breeze Mill (closed)</td>
<td>New York</td>
<td>New York</td>
<td>Ari Nadin</td>
</tr><tr class="TableName">
<td height="20">Bronx Grrl Chocolate</td>
<td>New York</td>
<td>New York</td>

In [21]:
url = 'http://flavorsofcacao.com/usa_craft_makers.html'
browser.visit(url)
time.sleep(2)
html = browser.html
print(html)
soup = BeautifulSoup(html, 'html.parser')
#bsoup = soup(html, 'html.parser')
time.sleep(4)
print(bsoup)
results = soup.find(id="spryregion2")
results = results.find_all('table')[0]
column_headers = ['Company','City', 'State', 'Owner/Maker']
records = []
for idy, row in enumerate(results.findAll('tr')):
    if idy == 0:
        continue
    cols = row.findAll('td')
    record = {}
    for idx, col in enumerate(cols):
        record[column_headers[idx]] = col.text.strip()
    records.append(record)
browser.quit()
df = pd.DataFrame.from_dict(records)
df.head()

<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Logo Button Template Final.dwt" codeOutsideHTMLIsLocked="false" --><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Flavors of Cacao - USA Craft Makers</title>
<!-- InstanceEndEditable -->
<style type="text/css">
body {
	background-color: #FFF;
}
</style>
<link href="header.css" rel="stylesheet" type="text/css">
<style type="text/css">
a:link {
	color: #300;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #300;
}
a:hover {
	text-decoration: none;
	color: #285c93
}
a:active {
	text-decoration: none;
	color: #300;
}
.styleone:link {
	font-weight: normal;
	color: #300;
	text-decoration: none;
	font-size: 14px;
}
.styleone:visited {
	font-weight: normal;
	color:#300;
	text-decoration:none;
	font-size:14px;
}
.styleone:hover {
	font-weight:normal;
	color:#285c93;
	text-decoration:none;
	font-size:14px;
}
.styleone:active {
	font-weight:normal;
	color:#285c93;
	text-decoration:none;
	font-size:14px;
}
</style>
<style>
.content {padding: 0 6px;}
</style>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<link href="links.css" rel="stylesheet" type="text/css">
<style type="text/css">
body,td,th {
	color: #300;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.red {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	color: #C00;
}
</style>
<style type="text/css">
<!--
.excel1 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:10.0pt;
font-weight:400;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:general;
vertical-align:bottom;
border:none;
white-space:nowrap;
}
.excel2 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:9.0pt;
font-weight:700;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:center;
vertical-align:bottom;
border:none;
white-space:nowrap;
}
.excel3 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:9.0pt;
font-weight:700;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:center;
vertical-align:bottom;
border:none;
white-space:normal;
}
.excel4 {
padding-top:1px;
padding-right:1px;
padding-left:1px;
color:windowtext;
font-size:10.0pt;
font-weight:400;
font-style:normal;
text-decoration:none;
font-family:Arial;
text-align:center;
vertical-align:bottom;
border:none;
white-space:nowrap;
}
-->
</style>
<link href="Bold18px.css" rel="stylesheet" type="text/css">
<!-- InstanceBeginEditable name="head" -->
<script src="SpryAssets/SpryData.js" type="text/javascript"></script>
<script src="SpryAssets/SpryHTMLDataSet.js" type="text/javascript"></script>
<script type="text/javascript">
var ds1 = new Spry.Data.HTMLDataSet("usa_makers.html", "usa_makers");
ds1.setColumnType("NO.", "number");
var ds2 = new Spry.Data.HTMLDataSet("usa_makers_no.column.html", "usa_craft_makers");
var ds4 = new Spry.Data.HTMLDataSet("usa_makers_no_column.html", "no_column");
var ds3 = new Spry.Data.HTMLDataSet("usa_makers1.html", "usa_craft_makers_list");
</script>
<link href="craft_makers.css" rel="stylesheet" type="text/css">
<link href="TableName.css" rel="stylesheet" type="text/css">
<!-- InstanceEndEditable -->
<link href="navbar.css" rel="stylesheet" type="text/css">
<!-- InstanceParam name="Home Link" type="text" value="styleone" -->
<!-- InstanceParam name="Database Link" type="text" value="styleone" -->
<!-- InstanceParam name="Review Guide Link" type="text" value="styleone" -->
<!-- InstanceParam name="Experiencing Chocolate Link" type="text" value="styleone" -->
<!-- InstanceParam name="Labeling Link" type="text" value="styleone" -->
<!-- InstanceParam name="Flavor Link" type="text" value="styleone" -->
<!-- InstanceParam name="Interviews Link" type="text" value="styleone" -->
<!-- InstanceParam name="Contact Link" type="text" value="styleone" -->
<!-- InstanceParam name="Craft Makers Link" type="text" value="MenuBarItemSubmenu" -->
<!-- InstanceParam name="craft of bean to bar project" type="text" value="" -->
<!-- InstanceParam name="USA links" type="text" value="navbar" -->
<!-- InstanceParam name="Canada link" type="text" value="styleone" -->
<!-- InstanceParam name="craft maker link" type="text" value="" -->
<!-- InstanceParam name="Craft of Bean to Bar Project Link" type="text" value="styleone" -->
<!-- InstanceParam name="Craft of Bean to Bar Project Links" type="text" value="styleone" -->
<!-- InstanceParam name="MCS Links" type="text" value="" -->
<!-- InstanceParam name="packaging_links" type="text" value="" -->
</head>

<body onload="MM_preloadImages('images/chocolate_database_2.jpg','images/review_guide_2.jpg','images/experiencing_chocolate_2.jpg','images/labeling_chocolate_2.jpg','images/contact_3.jpg')"><table width="981" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td colspan="11"><div align="center"><a href="index.html"><img src="images/Flavors-of-Cacao-Logo-Brown.png" width="313" height="208"></a><br>
      <br>
    </div>      <div align="center"></div>      <div align="center"></div></td>
  </tr>
  <tr align="center">
    <td width="66" class="content"><div align="center"><a href="index.html" class="header1"> Home</a></div></td>
    <td width="149" class="content"><div align="center" class="header1">Databases</div></td>
    <td width="108" class="content"><div align="center"><a href="review_guide.html" class="header1">Review Guide</a></div></td>
    <td width="130" class="content"><div align="center"><a href="experiencing_chocolate.html" class="header1">Experiencing Chocolate</a></div></td>
    <td width="72" class="content"><a href="labeling_chocolate.html" class="header1">Labeling</a></td>
    <td width="73" class="content"><div align="center"><a href="flavor.html" class="header1">Flavor</a></div></td>
    <td width="189" class="header1">Projects</td>
    <td width="62" class="content"><a href="contact.html" class="header1">Contact</a></td>
    <td width="132"><a href="mcs_index.html" class="header1">Manhattan Chocolate Society</a></td>
  </tr>
  <tr align="center">
    <td class="content">&nbsp;</td>
    <td class="content"><a href="chocolate_database.html" class="header1">Chocolate Bar Ratings</a></td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
    <td class="content"><a href="usa_craft_makers.html" class="header1"><br>
    </a></td>
    <td class="content"><a href="interview_home.html" class="header1">Interviews</a></td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
  </tr>
  <tr align="center">
    <td class="content">&nbsp;</td>
    <td class="content"><a href="usa_craft_makers.html" class="header1">USA Craft Makers</a></td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
    <td class="content"><a href="craft_of_b2b_home.html" class="header1">Craft of Bean to Bar Project</a></td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
  </tr>
  <tr align="center">
    <td class="content">&nbsp;</td>
    <td class="content"><a href="canadian_craft_makers.html" class="header1">Canada Craft Makers</a></td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
    <td class="content"><a href="canadian_craft_makers.html" class="styleone"><br>
    </a></td>
    <td class="content"><a href="packaging_index.html" class="header1"><br>
    Packaging Study</a></td>
    <td class="content">&nbsp;</td>
    <td class="content">&nbsp;</td>
  </tr>
  </tbody></table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td align="center">&nbsp;</td>
  </tr>
</tbody></table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td><!-- InstanceBeginEditable name="EditRegion3" --><br>
    </td><td align="center" valign="top"><p><br>
        <img src="images/USA_banner.png" alt="USA Craft Chocolate Makers" width="900" height="100" border="1"><span class="title1"><br>
        </span></p>
        <p><span class="title1">USA Craft Chocolate Makers<br>
        Updated: March 2020</span><br>
        <br>
        <img src="images/The-Map-of-United-States-Bean-to-Bar-20200314.png" width="792" height="438"><br>
          <br>
        <strong class="paragraph_3">This is a </strong><span class="paragraph_3"><strong>SORTABLE DATABASE</strong></span><strong class="paragraph_3">. Click any column header to re-sort the entries and organize by each  column.</strong></p>
        <div class="container">
        <div class="nocolumn">
        <div id="spryregion1" class="">
                    <table border="1" align="right" cellpadding="0" cellspacing="0">
                      <tbody><tr>
                        <th width="40" height="20" align="left" spry:unsort="No."><strong class="TableName">No.</strong></th>
                      </tr>
                      <tr>
                        <td height="20" class="TableName">1</td>
                      </tr><tr>
                        <td height="20" class="TableName">2</td>
                      </tr><tr>
                        <td height="20" class="TableName">3</td>
                      </tr><tr>
                        <td height="20" class="TableName">4</td>
                      </tr><tr>
                        <td height="20" class="TableName">5</td>
                      </tr><tr>
                        <td height="20" class="TableName">6</td>
                      </tr><tr>
                        <td height="20" class="TableName">7</td>
                      </tr><tr>
                        <td height="20" class="TableName">8</td>
                      </tr><tr>
                        <td height="20" class="TableName">9</td>
                      </tr><tr>
                        <td height="20" class="TableName">10</td>
                      </tr><tr>
                        <td height="20" class="TableName">11</td>
                      </tr><tr>
                        <td height="20" class="TableName">12</td>
                      </tr><tr>
                        <td height="20" class="TableName">13</td>
                      </tr><tr>
                        <td height="20" class="TableName">14</td>
                      </tr><tr>
                        <td height="20" class="TableName">15</td>
                      </tr><tr>
                        <td height="20" class="TableName">16</td>
                      </tr><tr>
                        <td height="20" class="TableName">17</td>
                      </tr><tr>
                        <td height="20" class="TableName">18</td>
                      </tr><tr>
                        <td height="20" class="TableName">19</td>
                      </tr><tr>
                        <td height="20" class="TableName">20</td>
                      </tr><tr>
                        <td height="20" class="TableName">21</td>
                      </tr><tr>
                        <td height="20" class="TableName">22</td>
                      </tr><tr>
                        <td height="20" class="TableName">23</td>
                      </tr><tr>
                        <td height="20" class="TableName">24</td>
                      </tr><tr>
                        <td height="20" class="TableName">25</td>
                      </tr><tr>
                        <td height="20" class="TableName">26</td>
                      </tr><tr>
                        <td height="20" class="TableName">27</td>
                      </tr><tr>
                        <td height="20" class="TableName">28</td>
                      </tr><tr>
                        <td height="20" class="TableName">29</td>
                      </tr><tr>
                        <td height="20" class="TableName">30</td>
                      </tr><tr>
                        <td height="20" class="TableName">31</td>
                      </tr><tr>
                        <td height="20" class="TableName">32</td>
                      </tr><tr>
                        <td height="20" class="TableName">33</td>
                      </tr><tr>
                        <td height="20" class="TableName">34</td>
                      </tr><tr>
                        <td height="20" class="TableName">35</td>
                      </tr><tr>
                        <td height="20" class="TableName">36</td>
                      </tr><tr>
                        <td height="20" class="TableName">37</td>
                      </tr><tr>
                        <td height="20" class="TableName">38</td>
                      </tr><tr>
                        <td height="20" class="TableName">39</td>
                      </tr><tr>
                        <td height="20" class="TableName">40</td>
                      </tr><tr>
                        <td height="20" class="TableName">41</td>
                      </tr><tr>
                        <td height="20" class="TableName">42</td>
                      </tr><tr>
                        <td height="20" class="TableName">43</td>
                      </tr><tr>
                        <td height="20" class="TableName">44</td>
                      </tr><tr>
                        <td height="20" class="TableName">45</td>
                      </tr><tr>
                        <td height="20" class="TableName">46</td>
                      </tr><tr>
                        <td height="20" class="TableName">47</td>
                      </tr><tr>
                        <td height="20" class="TableName">48</td>
                      </tr><tr>
                        <td height="20" class="TableName">49</td>
                      </tr><tr>
                        <td height="20" class="TableName">50</td>
                      </tr><tr>
                        <td height="20" class="TableName">51</td>
                      </tr><tr>
                        <td height="20" class="TableName">52</td>
                      </tr><tr>
                        <td height="20" class="TableName">53</td>
                      </tr><tr>
                        <td height="20" class="TableName">54</td>
                      </tr><tr>
                        <td height="20" class="TableName">55</td>
                      </tr><tr>
                        <td height="20" class="TableName">56</td>
                      </tr><tr>
                        <td height="20" class="TableName">57</td>
                      </tr><tr>
                        <td height="20" class="TableName">58</td>
                      </tr><tr>
                        <td height="20" class="TableName">59</td>
                      </tr><tr>
                        <td height="20" class="TableName">60</td>
                      </tr><tr>
                        <td height="20" class="TableName">61</td>
                      </tr><tr>
                        <td height="20" class="TableName">62</td>
                      </tr><tr>
                        <td height="20" class="TableName">63</td>
                      </tr><tr>
                        <td height="20" class="TableName">64</td>
                      </tr><tr>
                        <td height="20" class="TableName">65</td>
                      </tr><tr>
                        <td height="20" class="TableName">66</td>
                      </tr><tr>
                        <td height="20" class="TableName">67</td>
                      </tr><tr>
                        <td height="20" class="TableName">68</td>
                      </tr><tr>
                        <td height="20" class="TableName">69</td>
                      </tr><tr>
                        <td height="20" class="TableName">70</td>
                      </tr><tr>
                        <td height="20" class="TableName">71</td>
                      </tr><tr>
                        <td height="20" class="TableName">72</td>
                      </tr><tr>
                        <td height="20" class="TableName">73</td>
                      </tr><tr>
                        <td height="20" class="TableName">74</td>
                      </tr><tr>
                        <td height="20" class="TableName">75</td>
                      </tr><tr>
                        <td height="20" class="TableName">76</td>
                      </tr><tr>
                        <td height="20" class="TableName">77</td>
                      </tr><tr>
                        <td height="20" class="TableName">78</td>
                      </tr><tr>
                        <td height="20" class="TableName">79</td>
                      </tr><tr>
                        <td height="20" class="TableName">80</td>
                      </tr><tr>
                        <td height="20" class="TableName">81</td>
                      </tr><tr>
                        <td height="20" class="TableName">82</td>
                      </tr><tr>
                        <td height="20" class="TableName">83</td>
                      </tr><tr>
                        <td height="20" class="TableName">84</td>
                      </tr><tr>
                        <td height="20" class="TableName">85</td>
                      </tr><tr>
                        <td height="20" class="TableName">86</td>
                      </tr><tr>
                        <td height="20" class="TableName">87</td>
                      </tr><tr>
                        <td height="20" class="TableName">88</td>
                      </tr><tr>
                        <td height="20" class="TableName">89</td>
                      </tr><tr>
                        <td height="20" class="TableName">90</td>
                      </tr><tr>
                        <td height="20" class="TableName">91</td>
                      </tr><tr>
                        <td height="20" class="TableName">92</td>
                      </tr><tr>
                        <td height="20" class="TableName">93</td>
                      </tr><tr>
                        <td height="20" class="TableName">94</td>
                      </tr><tr>
                        <td height="20" class="TableName">95</td>
                      </tr><tr>
                        <td height="20" class="TableName">96</td>
                      </tr><tr>
                        <td height="20" class="TableName">97</td>
                      </tr><tr>
                        <td height="20" class="TableName">98</td>
                      </tr><tr>
                        <td height="20" class="TableName">99</td>
                      </tr><tr>
                        <td height="20" class="TableName">100</td>
                      </tr><tr>

[]

              Company            City    State        Owner/Maker
0               Match      Birmingham  Alabama      Kala Northrup
1  Wildland Chocolate       Anchorage   Alaska  Jimmy and Suzanne
2            Nutwhats        Chandler  Arizona  Lisa and Jim Rast
3                 DNA        Chandler  Arizona    Denae Hostetler
4            Chocofin  Fountain Hills  Arizona      Lou Mirabella

In [ ]:
# cacao_csv = "Resources/flavors_of_cacao.csv"
# cacao_df = pd.read_csv(cacao_csv, encoding="utf-8")
# cacao_df.head()

In [4]:
chocolate_csv = "Resources/chocolate_2020.csv"
chocolate_df = pd.read_csv(chocolate_csv, encoding ="utf-8")
chocolate_df.head()

,Unnamed: 0,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,1777,288,Salgado,Argentina,2008,Brazil,Bahia Superior,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,creamy,vanilla,rich,NaN
1,1778,288,Salgado,Argentina,2008,Ecuador,Esmeraldas,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,nutty,spicy,floral,NaN
2,1779,288,Salgado,Argentina,2008,Venezuela,Carenero Superior,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,nutty,basic cocoa,NaN,NaN
3,1780,292,Salgado,Argentina,2008,Ecuador,Rio Arriba,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,floral,spicey,NaN,NaN
4,170,2434,Atypic,Australia,2019,Solomon islands,Solomon Islands,70.0,3.0,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,off aroma,vegetal,honey,sandy

In [5]:
new_choc = chocolate_df.drop(['Unnamed: 0','ref', 'review_date', 'specific_bean_origin_or_bar_name', 'rating', 'counts_of_ingredients', 'first_taste', 'second_taste', 'third_taste', 'fourth_taste','lecithin', 'sweetener_without_sugar',], axis=1)

new_choc.head()

,company,company_location,country_of_bean_origin,cocoa_percent,beans,cocoa_butter,vanilla,salt,sugar
0,Salgado,Argentina,Brazil,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1,Salgado,Argentina,Ecuador,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2,Salgado,Argentina,Venezuela,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
3,Salgado,Argentina,Ecuador,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
4,Atypic,Australia,Solomon islands,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar

In [6]:
final_choc = new_choc.loc[new_choc["company_location"]=="U.S.A"]
final_choc

,company,company_location,country_of_bean_origin,cocoa_percent,beans,cocoa_butter,vanilla,salt,sugar
1225,5150,U.S.A,Madagascar,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1226,5150,U.S.A,Dominican republic,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1227,5150,U.S.A,Tanzania,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1228,Acalli,U.S.A,Peru,70.0,have_bean,have_not_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1229,Acalli,U.S.A,Peru,70.0,have_bean,have_not_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
...,...,...,...,...,...,...,...,...,...
2168,Zak's,U.S.A,Dominican republic,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2169,Zak's,U.S.A,Madagascar,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2170,Zak's,U.S.A,Peru,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2171,Zak's,U.S.A,Papua new guinea,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2172,Zak's,U.S.A,Blend,60.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar

In [25]:
df.to_csv('us_choc.csv')

In [7]:
us_csv = "Resources/usa_chocolate.csv"
us_chocolate = pd.read_csv(us_csv, encoding = "utf-8")
us_chocolate.head()

         COMPANY NAME           CITY       STATE     OWNER/MAKER
0  5150 Chocolate Co.   Delray Beach     Florida  Tyler Levitetz
1      9th and Larkin  San Francisco  California        Lan Phan
2              Acalli         Gretna   Louisiana     Carol Morse
3     Adams Chocolate          Nyack    New York    Adam Berrios
4            Affinity     Sugar Land       Texas  Chris Campbell

In [8]:
us_choc = us_chocolate.drop(['CITY','OWNER/MAKER'], axis = 1)
us_choc.head()

         COMPANY NAME       STATE
0  5150 Chocolate Co.     Florida
1      9th and Larkin  California
2              Acalli   Louisiana
3     Adams Chocolate    New York
4            Affinity       Texas

In [ ]:
username = 'postgres'
password = pw
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/chocolate_db')
connection = engine.connect()

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
tables = pd.read_html(url)
print(tables)

In [ ]:
url = 'http://flavorsofcacao.com/usa_craft_makers.html'
browser.visit(url)
time.sleep(2)
html = browser.html
#print(html)
bsoup = soup(html, 'html.parser')
time.sleep(4)
print(bsoup)
results = bsoup.find(id="spryregion2")
results = results.find_all('table')[0]
column_headers = ['Company','City', 'State', 'Owner/Maker']
records = []
for idy, row in enumerate(results.findAll('tr')):
    if idy == 0:
        continue
    cols = row.findAll('td')
    record = {}
    for idx, col in enumerate(cols):
        record[column_headers[idx]] = col.text.strip()
    records.append(record)
browser.quit()
df = pd.DataFrame.from_dict(records)
df.head()

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
# response = requests.get(url)
# soup = BeautifulSoup(response.text, 'lxml')
browser.visit(url)
html = =browser.html

In [ ]:
#results = soup.find_all('tr', attrs={'class': 'TableName'})
#results = soup.find_all('tr', class_="TableName")
time.sleep(3)
results = soup.find_all('tr', class_='TableName')

for result in results:
    company = result.find_all('td')
    #state = results.find_all('td')
        

#     print ('\n------------------------\n')
#     print(company)
#     print(state)
print(company)

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
# response = requests.get(url).text
soup = BeautifulSoup(url, "lxml")
comp_name = []
city = []
state = []
owner = []

for table in soup.find_all(attrs={"class": "TableName"}):
    time.
    response = requests.get(url).text
    for response in response:
        xyz = soup.find_all("td")
        
#     xyz = response.find_all("td")
#     for tr in soup.find_all("td"):
#         comp_name.append(response["COMPANY NAME"])
#         city.append(response[1])
#         state.append(response[2])
#         owner.append(response[3])
    #print(xyz)
        
#choc_list = choc_table.find_all("td")
# headings = []
# for i in choc_table.find_all("td"):
#     headings.append(['COMPANY_NAME'],['CITY'],['STATE'],['OWNER/MAKER'])
#choc_table
print(xyz)

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
response = requests.get(url).text
soup = BeautifulSoup(content, "lxml")
choc_table = soup.find_all(attrs={"class": "TableName"})
comp_name = []
city = []
state = []
owner = []
for table in choc_table:
    xyz = soup.find_all("td")
    comp_name.append(response[5])
    city.append(response[1])
    state.append(response[2])
    owner.append(response[3])
#     comp_name.append(response["COMPANY_NAME"])
#     city.append(response["CITY"])
#     state.append(response["STATE"])
#     owner.append(response["OWNER/MAKER"])
    #print(xyz)
#choc_list = choc_table.find_all("td")
# headings = []
# for i in choc_table.find_all("td"):
#     headings.append(['COMPANY_NAME'],['CITY'],['STATE'],['OWNER/MAKER'])
#choc_table
print(comp_name)

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
content = requests.get(url).text

soup = BeautifulSoup(content, "lxml")
print(soup.prettify())

In [ ]:
gdp_table = soup.find_all("div", attrs={"spry:region": "ds3"})
gdp_table_data = gdp_table.find_all("tr")  # contains 2 rows

# Get all the headings of Lists
headings = []
for td in gdp_table_data[0].find_all("td"):
    # remove any newlines and extra spaces from left and right
    headings.append(td.b.text.replace('\n', ' ').strip())

print(headings)

In [ ]:
type(tables)

In [ ]:
r = requests.get('http://flavorsofcacao.com/usa_craft_makers.html')
pd.read_html(r.text)[3]

In [ ]:
#tables = pd.read_html("http://flavorsofcacao.com/usa_craft_makers.html", header = 0, keep_default_na=False
# headings = ['COMPANY NAME', 'CITY', 'STATE', 'OWNER/MAKER']
url = "http://flavorsofcacao.com/usa_craft_makers.html"
content = requests.get(url).text
soup = BeautifulSoup(content, "lxml")

for table in content:
    soup.find_all(attrs={"class": "TableName"})
    for name in TabelName:
          soup.find_all("td")
    else: 
        break 


# table['Country name'].replace({r'.*!(.*)': r'\1'}, regex=True, inplace=True)
# table[headings].to_csv('test.txt', sep=';', header=False, index=False)

In [ ]:
df= tables[3]
df.columns = ['COMPANY NAME', 'CITY', 'STATE', 'OWNER/MAKER']
df

In [ ]:
c = requests.get('http://flavorsofcacao.com/usa_craft_makers.html')
soup = BeautifulSoup(c.content, "lxml")
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
print(df[0].to_json(orient='records'))