In [228]:
#!pip3 install lxml
#!pip install -U splinter

In [244]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import lxml.html as lh
from bs4 import BeautifulSoup
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import pw
import time
from splinter import Browser

In [245]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [246]:
url = 'http://flavorsofcacao.com/usa_craft_makers.html'
browser.visit(url)
time.sleep(2)
html = browser.html
#print(html)
bsoup = soup(html, 'html.parser')
time.sleep(4)
print(bsoup)
results = bsoup.find(id="spryregion2")
results = results.find_all('table')[0]
column_headers = ['Company','City', 'State', 'Owner/Maker']
records = []
for idy, row in enumerate(results.findAll('tr')):
    if idy == 0:
        continue
    cols = row.findAll('td')
    record = {}
    for idx, col in enumerate(cols):
        record[column_headers[idx]] = col.text.strip()
    records.append(record)
browser.quit()
df = pd.DataFrame.from_dict(records)
df.head()

[]

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [231]:
# cacao_csv = "Resources/flavors_of_cacao.csv"
# cacao_df = pd.read_csv(cacao_csv, encoding="utf-8")
# cacao_df.head()

In [232]:
chocolate_csv = "Resources/chocolate_2020.csv"
chocolate_df = pd.read_csv(chocolate_csv, encoding ="utf-8")
chocolate_df.head()

,Unnamed: 0,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,1777,288,Salgado,Argentina,2008,Brazil,Bahia Superior,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,creamy,vanilla,rich,NaN
1,1778,288,Salgado,Argentina,2008,Ecuador,Esmeraldas,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,nutty,spicy,floral,NaN
2,1779,288,Salgado,Argentina,2008,Venezuela,Carenero Superior,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,nutty,basic cocoa,NaN,NaN
3,1780,292,Salgado,Argentina,2008,Ecuador,Rio Arriba,70.0,3.5,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,floral,spicey,NaN,NaN
4,170,2434,Atypic,Australia,2019,Solomon islands,Solomon Islands,70.0,3.0,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,off aroma,vegetal,honey,sandy

In [233]:
new_choc = chocolate_df.drop(['Unnamed: 0','ref', 'review_date', 'specific_bean_origin_or_bar_name', 'rating', 'counts_of_ingredients', 'first_taste', 'second_taste', 'third_taste', 'fourth_taste','lecithin', 'sweetener_without_sugar',], axis=1)

new_choc.head()

,company,company_location,country_of_bean_origin,cocoa_percent,beans,cocoa_butter,vanilla,salt,sugar
0,Salgado,Argentina,Brazil,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1,Salgado,Argentina,Ecuador,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2,Salgado,Argentina,Venezuela,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
3,Salgado,Argentina,Ecuador,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
4,Atypic,Australia,Solomon islands,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar

In [234]:
final_choc = new_choc.loc[new_choc["company_location"]=="U.S.A"]
final_choc

,company,company_location,country_of_bean_origin,cocoa_percent,beans,cocoa_butter,vanilla,salt,sugar
1225,5150,U.S.A,Madagascar,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1226,5150,U.S.A,Dominican republic,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1227,5150,U.S.A,Tanzania,76.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1228,Acalli,U.S.A,Peru,70.0,have_bean,have_not_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
1229,Acalli,U.S.A,Peru,70.0,have_bean,have_not_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
...,...,...,...,...,...,...,...,...,...
2168,Zak's,U.S.A,Dominican republic,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2169,Zak's,U.S.A,Madagascar,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2170,Zak's,U.S.A,Peru,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2171,Zak's,U.S.A,Papua new guinea,70.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar
2172,Zak's,U.S.A,Blend,60.0,have_bean,have_cocoa_butter,have_not_vanila,have_not_salt,have_sugar

In [235]:
us_csv = "Resources/usa_chocolate.csv"
us_chocolate = pd.read_csv(us_csv, encoding = "utf-8")
us_chocolate.head()

         COMPANY NAME           CITY       STATE     OWNER/MAKER
0  5150 Chocolate Co.   Delray Beach     Florida  Tyler Levitetz
1      9th and Larkin  San Francisco  California        Lan Phan
2              Acalli         Gretna   Louisiana     Carol Morse
3     Adams Chocolate          Nyack    New York    Adam Berrios
4            Affinity     Sugar Land       Texas  Chris Campbell

In [236]:
us_choc = us_chocolate.drop(['CITY','OWNER/MAKER'], axis = 1)
us_choc.head()

         COMPANY NAME       STATE
0  5150 Chocolate Co.     Florida
1      9th and Larkin  California
2              Acalli   Louisiana
3     Adams Chocolate    New York
4            Affinity       Texas

In [237]:
username = 'postgres'
password = pw
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/chocolate_db')
connection = engine.connect()

In [238]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
tables = pd.read_html(url)
print(tables)

[     0                      1             2                       3   \
0   NaN                    NaN           NaN                     NaN
1  Home              Databases  Review Guide  Experiencing Chocolate
2   NaN  Chocolate Bar Ratings           NaN                     NaN
3   NaN       USA Craft Makers           NaN                     NaN
4   NaN    Canada Craft Makers           NaN                     NaN

         4       5                             6        7   \
0       NaN     NaN                           NaN      NaN
1  Labeling  Flavor                      Projects  Contact
2       NaN     NaN                    Interviews      NaN
3       NaN     NaN  Craft of Bean to Bar Project      NaN
4       NaN     NaN               Packaging Study      NaN

                            8   9   10
0                          NaN NaN NaN
1  Manhattan Chocolate Society NaN NaN
2                          NaN NaN NaN
3                          NaN NaN NaN
4                          NaN NaN NaN  ,     0                                                  1
0 NaN  USA Craft Chocolate Makers  Updated: March 202...,      No.
0  {No.},      COMPANY NAME    CITY    STATE    OWNER/MAKER
0  {COMPANY_NAME}  {CITY}  {STATE}  {OWNER/MAKER}]

In [243]:
url = 'http://flavorsofcacao.com/usa_craft_makers.html'
browser.visit(url)
time.sleep(2)
html = browser.html
#print(html)
bsoup = soup(html, 'html.parser')
time.sleep(4)
print(bsoup)
results = bsoup.find(id="spryregion2")
results = results.find_all('table')[0]
column_headers = ['Company','City', 'State', 'Owner/Maker']
records = []
for idy, row in enumerate(results.findAll('tr')):
    if idy == 0:
        continue
    cols = row.findAll('td')
    record = {}
    for idx, col in enumerate(cols):
        record[column_headers[idx]] = col.text.strip()
    records.append(record)
browser.quit()
df = pd.DataFrame.from_dict(records)
df.head()

[]

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
# response = requests.get(url)
# soup = BeautifulSoup(response.text, 'lxml')
browser.visit(url)
html = =browser.html

In [ ]:
#results = soup.find_all('tr', attrs={'class': 'TableName'})
#results = soup.find_all('tr', class_="TableName")
time.sleep(3)
results = soup.find_all('tr', class_='TableName')

for result in results:
    company = result.find_all('td')
    #state = results.find_all('td')
        

#     print ('\n------------------------\n')
#     print(company)
#     print(state)
print(company)

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
# response = requests.get(url).text
soup = BeautifulSoup(url, "lxml")
comp_name = []
city = []
state = []
owner = []

for table in soup.find_all(attrs={"class": "TableName"}):
    time.
    response = requests.get(url).text
    for response in response:
        xyz = soup.find_all("td")
        
#     xyz = response.find_all("td")
#     for tr in soup.find_all("td"):
#         comp_name.append(response["COMPANY NAME"])
#         city.append(response[1])
#         state.append(response[2])
#         owner.append(response[3])
    #print(xyz)
        
#choc_list = choc_table.find_all("td")
# headings = []
# for i in choc_table.find_all("td"):
#     headings.append(['COMPANY_NAME'],['CITY'],['STATE'],['OWNER/MAKER'])
#choc_table
print(xyz)

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
response = requests.get(url).text
soup = BeautifulSoup(content, "lxml")
choc_table = soup.find_all(attrs={"class": "TableName"})
comp_name = []
city = []
state = []
owner = []
for table in choc_table:
    xyz = soup.find_all("td")
    comp_name.append(response[5])
    city.append(response[1])
    state.append(response[2])
    owner.append(response[3])
#     comp_name.append(response["COMPANY_NAME"])
#     city.append(response["CITY"])
#     state.append(response["STATE"])
#     owner.append(response["OWNER/MAKER"])
    #print(xyz)
#choc_list = choc_table.find_all("td")
# headings = []
# for i in choc_table.find_all("td"):
#     headings.append(['COMPANY_NAME'],['CITY'],['STATE'],['OWNER/MAKER'])
#choc_table
print(comp_name)

In [ ]:
url = "http://flavorsofcacao.com/usa_craft_makers.html"
content = requests.get(url).text

soup = BeautifulSoup(content, "lxml")
print(soup.prettify())

In [ ]:
gdp_table = soup.find_all("div", attrs={"spry:region": "ds3"})
gdp_table_data = gdp_table.find_all("tr")  # contains 2 rows

# Get all the headings of Lists
headings = []
for td in gdp_table_data[0].find_all("td"):
    # remove any newlines and extra spaces from left and right
    headings.append(td.b.text.replace('\n', ' ').strip())

print(headings)

In [ ]:
type(tables)

In [ ]:
r = requests.get('http://flavorsofcacao.com/usa_craft_makers.html')
pd.read_html(r.text)[3]

In [ ]:
#tables = pd.read_html("http://flavorsofcacao.com/usa_craft_makers.html", header = 0, keep_default_na=False
# headings = ['COMPANY NAME', 'CITY', 'STATE', 'OWNER/MAKER']
url = "http://flavorsofcacao.com/usa_craft_makers.html"
content = requests.get(url).text
soup = BeautifulSoup(content, "lxml")

for table in content:
    soup.find_all(attrs={"class": "TableName"})
    for name in TabelName:
          soup.find_all("td")
    else: 
        break 


# table['Country name'].replace({r'.*!(.*)': r'\1'}, regex=True, inplace=True)
# table[headings].to_csv('test.txt', sep=';', header=False, index=False)

In [ ]:
df= tables[3]
df.columns = ['COMPANY NAME', 'CITY', 'STATE', 'OWNER/MAKER']
df

In [ ]:
c = requests.get('http://flavorsofcacao.com/usa_craft_makers.html')
soup = BeautifulSoup(c.content, "lxml")
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
print(df[0].to_json(orient='records'))